body{
    background-color: black;
}

/* // NavBar */
.logo{
    color : rgb(233, 65, 255);
    font-size: 45px;
}

.nav-btn{
    background-color: transparent;
    border: 1px solid white;
    color : white;
    height: 40px;
    border-radius: 30px;
}

.hero-btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 40px;
    border-radius: 30px;
}

.test{
    background-color: #9300b0;
    color: #e941ff;
}

.modal {
    background-color: #121322;
    color: white;
}

.modal .ant-modal-content {
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.modal .ant-modal-body {
    padding: 0 !important;
}

.modal-button{
    height: 50px;
    background-color: #300066;
    color: #bbbbbb;
    width: 90%;
    font-size: 22px;
}
.modal-button:hover {
    background-color: #3d0082 !important;
}