body{
    background-color: black;
}

/* // NavBar */
.logo{
    color : rgb(233, 65, 255)
}

.nav-btn{
    background-color: transparent;
    border: 1px solid white;
    color : white;
    height: 40px;
    border-radius: 30px;
}

.hero-btn{
    background-color: transparent;
        border: 1px solid white;
        color: white;
        height: 40px;
        border-radius: 30px;
}